.percentageOfStack{
    height: 100vh;
    /* border: 3px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.stackSpaceForStacks{
    height: 90%;
    border: 2px solid red;
    width: 90%;
    border-radius: 1.2ch;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stacksIknowTab{
    width: 63%;
    height: 90%;
    border-radius: 1.3ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
}

.stacksProgramming, .stacksFrontend, .stacksBackend, .stacksDatabase{
    height: 18%;
    width: 90%;
    border-radius: 1.2ch;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center ;
    border: 2px solid green;
}


.programmingLogos img, .frontendSkills img,.backendSkills img,.stacksDatabase img{
    height: 90%;
    width: 100%;
    cursor: pointer;
    object-fit: contain;
    /* background-color: black; */
}

.programmingLogos, .frontendSkills,.backendSkills,.dbSkills{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}



.elaborationOfTheStackSelected{
    width: 30%;
    height: 90%;
    border-radius: 1.2ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid green;
}

.specializationOfStack{
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.stackSelected{
    height: 35%;
    width: 50%;
    border: 2px solid black;
    border-radius: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-size: contain; */
}

.stackSelected img{
    /* border: 1px solid black; */
    
    height: 50%;
    width: auto;

    object-fit: contain;
}

.detailsOfTheSelectedStack{
    height: 60%;
    
    /* border: 2px solid black; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skillSelectedForStack{
    height: 25%;
    display: flex;
    /* border-radius: 1ch; */
    border-bottom: 1px solid black;
    gap: 8%;
    transition: 1s;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    width: 80%;
}

.skillSelectedForStack p{
    align-items:flex-start;
    width:100%;
}

.progressBarOfTheStackSelected{
    width:0entr;
    height: 45%;
    border-radius: 1.15ch;
    background-color: rgb(237, 53, 53);
    position: relative;
}

.progressBarOfTheStackSelected::before{
    content: '';
    color: white;
    display: block;
    transition: width 2.5s ease;
    width: 0;
    height: 100%;
    border: 1px solid white
}

.progressBarOfTheStackSelected .debugOfTheSkillSelected{
    width: 100%;
}

